global
  log /dev/log local0
  log /dev/log local1 notice
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  # daemon
  stats timeout 30s

defaults
  log global
  mode http
  option httplog
  option dontlognull
  timeout connect 5s
  timeout client 15s
  timeout server 15s
  stats enable
  stats refresh 5s

frontend http
  bind *:80
  monitor-uri /monitor
  default_backend nginx

backend nginx
  balance roundrobin
  option httpclose
  option forwardfor
  option httpchk HEAD /index.html
  # list of containers
  # server $CONTAINER_ID $IP:80 check
